 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); 

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.main-contain {
  height: 100%;
}

.menu{
  display: none;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 7;
  background-color: red;
  height: 35px;
}
.div2 {
  grid-area: 2 / 3 / 6 / 7;
  background: rgba(32, 32, 32, 255);
  overflow: scroll;
  height: 100vh;
  padding-top: 10px;
  height: 120vh;
}
.div3 {
  grid-area: 2 / 1 / 6 / 3;
  background: rgba(32, 32, 32, 255);
  /* width: 500px; */
}

.ss {
  position: absolute;
  left: 60px;
}

nav {
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}
nav .nav-bar {
  position: relative;
  height: 60%;
  /* max-width: 1300px; */
  width: 100%;
  background-color: rgba(29, 33, 233, 255);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 9;
}
nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}
nav .nav-bar .logo a {
  font-size: 19px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}
.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}
.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}
.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}

.darkLight-searchBox .dark-light {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}
.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}
.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}
.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.searchBox {
  position: relative;
}
.searchBox .search-field {
  position: absolute;
  bottom: -60px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}
.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}
.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}


.nav {
  /* background-color: hsl(0, 0%, 100%); */
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  transition: background-color var(--trans-dur),
    width var(--trans-dur) ease-in-out;
}
.nav__main {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2.5em 1.75em;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: 8px;
  scrollbar-color: transparent transparent;
}

.nav__item {
  border-bottom: 1px solid rgba(184, 184, 184, 0.189);
  margin-left: 18px;
  cursor: pointer;
}

.nav__item:last-child {
  border-bottom: none;
}

.nav__main::-webkit-scrollbar {
  width: 8px;
}
.nav__main::-webkit-scrollbar-track {
  background: transparent;
}
.nav__main::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}
.nav__main:hover {
  scrollbar-color: hsla(0, 0%, 0%, 0.2) transparent;
}
.nav__main:hover::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 0%, 0.2);
}
.nav__bottom {
  background-color: inherit;
  box-shadow: 0 1px 0 hsl(var(--hue), 10%, 80%) inset;
  padding: 1em 1.75em;
  transition: box-shadow var(--trans-dur);
}
.nav__heading {
  color: hsl(var(--hue), 10%, 45%);
  display: block;
  font-size: 0.75em;
  line-height: 1;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  transition: color var(--trans-dur);
}
.nav__heading-text {
  display: inline-block;
  transform: translateX(1em);
  transition: transform var(--trans-dur) ease-in-out;
}
.nav__items {
  list-style: none;
  /* margin: 0 0 3em 0; */
  border-radius: 8px;
  background: rgba(40, 40, 42, 255);
  margin: 20px 0;
}
.nav__items:last-child {
  margin-bottom: 0;
}
.nav__item-box {
  background-color: hsla(var(--hue), 90%, 55%, 0);
  border-radius: 0.75em;
  color: hsl(var(--hue), 20%, 55%);
  display: flex;
  align-items: center;
  padding: 0.75em;
  text-align: left;
  text-decoration: none;
  transition: background-color var(--trans-dur) ease-in-out,
    color var(--trans-dur), width var(--trans-dur) ease-in-out;
  /* width: 12.5em; */
  min-width: 3em;
  color: white;
}
.nav__item-box:focus,
.nav__item-box:hover {
  background-color: hsla(var(--hue), 90%, 55%, 0.1);
  color: var(--primary);
}
.nav__item-box:focus {
  outline: transparent;
}
.nav__item-icon,
.nav__item-icon svg {
  display: block;
  width: 1.5em;
  height: 1.5em;
  color: white;
}
.nav__item-icon {
  flex-shrink: 0;
  position: relative;
  text-align: center;
  transition: transform var(--trans-dur) ease-in-out;
}
.nav__item-icon--badge:before {
  background-color: var(--primary);
  border-radius: 50%;
  box-shadow: 0 0 0 0.1em hsl(0, 0%, 100%);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0.5em;
  height: 0.5em;
  transform: scale(0);
  transition: box-shadow var(--trans-dur),
    transform var(--trans-dur) ease-in-out;
}
.nav__item-text {
  margin-left: 0.75em;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: white;
  transition: opacity var(--trans-dur) ease-in-out,
    width var(--trans-dur) ease-in-out;
}
.nav__item-badge {
  background-color: hsla(var(--hue), 90%, 55%, 0.1);
  border-radius: 0.75rem;
  color: var(--primary);
  font-size: 0.75em;
  line-height: 1;
  margin-left: 0.75rem;
  padding: 0.125rem 0.5rem;
  transition: background-color var(--trans-dur), color var(--trans-dur);
}
.nav__item-box--red .nav__item-badge {
  background-color: hsla(var(--hue2), 90%, 55%, 0.1);
  color: var(--red);
}
.nav__item-box--red .nav__item-icon--badge:before {
  background-color: var(--red);
}
.nav__logo {
  background-color: var(--primary);
  border-radius: 0.75em;
  color: hsl(0, 0%, 100%);
  display: flex;
  margin-bottom: 2.5em;
  width: 3em;
  height: 3em;
  transform: translateX(0.75em);
  transition: background-color var(--trans-dur), color var(--trans-dur),
    transform var(--trans-dur) ease-in-out;
}
.nav__logo svg {
  display: block;
  margin: auto;
  width: 2em;
  height: 2em;
}
.nav[data-expanded="false"] {
  width: 6.5em;
}
.nav[data-expanded="false"] .nav__heading-text {
  transform: translateX(calc(2em - 50%));
}
.nav[data-expanded="false"] .nav__item-box {
  width: 3em;
}
.nav[data-expanded="false"] .nav__item-icon--badge:before {
  transform: scale(1);
}
.nav[data-expanded="false"] .nav__item-text {
  opacity: 0;
  width: 0;
}
.nav[data-expanded="false"] .nav__logo {
  transform: translateX(0);
}
.nav[data-expanded="false"] [data-expand] .nav__item-icon {
  transform: rotate(180deg);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 10%, 20%);
    --fg: hsl(var(--hue), 10%, 90%);
  }
  .nav {
    background-color: hsl(var(--hue), 10%, 10%);
  }
  .nav__main:hover {
    scrollbar-color: hsla(0, 0%, 100%, 0.2) transparent;
  }
  .nav__main:hover::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.2);
  }
  .nav__bottom {
    box-shadow: 0 1px 0 hsl(var(--hue), 10%, 30%) inset;
  }
  .nav__heading {
    color: hsl(var(--hue), 10%, 65%);
  }
  .nav__item-box {
    background-color: hsla(0, 0%, 100%, 0);
    color: hsl(var(--hue), 20%, 75%);
  }
  .nav__item-box:focus,
  .nav__item-box:hover {
    background-color: hsla(0, 0%, 100%, 0.1);
    color: hsl(0, 0%, 100%);
  }
  .nav__item-icon--badge:before {
    box-shadow: 0 0 0 0.1em hsl(var(--hue), 10%, 10%);
  }
  .nav__item-badge {
    background-color: hsl(var(--hue), 90%, 55%);
    color: hsl(0, 0%, 100%);
  }
  .nav__item-box--red .nav__item-badge {
    background-color: hsl(var(--hue2), 90%, 55%);
    color: hsl(0, 0%, 100%);
  }
  .nav__logo {
    background-color: hsl(0, 0%, 100%);
    color: var(--primary);
  }
}

.nav {
  /* position: fixed; */
  z-index: 1;
}

#sidebar {
  /*Strictly Necessary */
  position: fixed;
  height: 100%;
  width: 30%;
  margin: 0px;

  /*Aesthetics*/
  background: rgb(28, 28, 28);
  border-radius: 7px;
}

#rightSideWrapper {
  /*Strictly Necessary */
  width: 70%;
  float: right;

  /*Aesthetics*/
  background: black;
}

header {
  /*Strictly Necessary */
  position: fixed;
  width: 70%;
  height: 100px; /*Adjust the hight to your purposes*/

  /*Aesthetics*/
  /* background: lightSalmon; */
  border-radius: 7px;
}

.ContentBox {
  margin-top: 100px; /*The height of the   header*/
  display: flex;
  flex-flow: row wrap;
}

main,
section,
footer {
  /*Aesthetics*/
  background: lightgray;
  border-radius: 7px;
  margin: 5px;
  padding: 20px;
}

main {
  /*Strictly Necessary */
  height: 400px;
  order: 1;
  flex: 0 1 100%;
}

section {
  /*Strictly Necessary */
  height: 400px;
  order: 2;
  flex: 0 1 100%;
}

footer {
  /*Strictly Necessary */
  height: 100px;
  order: 3;
  flex: 0 1 100%;
}

/* .search bar */

input:focus {
  outline-offset: -2px;
}

.container {
  position: absolute;
  top: 5px;
  left: 40%;
  width: 50%; /*set to a negative number 1/2 of your width*/
}

#submitsearch {
  border: 1px solid rgb(138, 134, 134);
  margin-left: -82px;
  padding: 5px;
  border-radius: 19px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 8px;
  padding-top: 4px;

  display: none;
  box-shadow: 0 0 1px black;
  margin-right: 110px;
}

#searchInput {
  width: 100%;

  border: none;
  border-radius: 30px;
  font-size: 16px;
  background-color: rgba(59, 59, 253, 255);

  background-repeat: no-repeat;
  padding: 5px 20px 7px 47px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;
  color: white;
  position: relative;
}

.searchContain {
  position: absolute;
  color: white;
  z-index: 1;
  font-size: 16px;
  top: 5px;
  left: 10px;
  font-weight: 100;
}

#searchInput::placeholder {
  color: #8c8dfb;
  font-weight: 100;
}

/* main container */
.main-container {
  margin: 10px;
}

.guest_mode {
  background: rgb(0, 124, 30);
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  margin: 10px;
}

.guest_mode--title {
  font-weight: 600;
}

.guest_mode--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.guest_mode--content-2 a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.guest_mode--content-1 {
  display: flex;
  flex-flow: column;
  width: 70%;
}

.stock_account {
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  margin: 10px;
  background: rgba(104, 100, 100, 0.189);
}

.total-market--contents-3-texts-a-sub {
  overflow: hidden;
  background-color: rgb(15, 113, 240);
  border-width: 0px;
  border-radius: 26px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  visibility: inherit;
  height: 24px;
  padding: 3.48px;
  width: 24px;
}

.total-market--contents-3-texts-b {
  width: 100%;
  margin: 0 10px;
}

.total-market--contents {
  background: rgba(40, 40, 42, 255);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
}

.total-market--contents-3-texts-b-sub--ii {
  margin-right: 16px;
}

.total-market--contents-3 {
  background: rgba(40, 40, 42, 255);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
}

.total-market--contents-3-texts {
  display: flex;
  align-items: center;
  width: 100%;
}

.total-market--contents-3-texts-b-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-market--contents-3 {
  margin: 10px;
}

.total-assets-content {
  background: rgba(40, 40, 42, 255);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  color: white;
}

.total-market--contents-1-texts {
  margin: 10px;
}

.total-market--contents-1-texts-a-sub {
  display: flex;
  justify-content: space-between;
}

/* .mobile-display */

@media only screen and (max-width: 600px) {
  .div3 {
    display: none;
  }

  .div2 {
    grid-area: 2 / 1 / 6 / 7;
    padding-top: 20px;
    height: 120vh;
  }

  .container {
    width: 70%;
  }

  nav .nav-bar {
    justify-content: space-between;
  }

  #searchInput {
    width: 50%;
  }

  .container {
    left: 150%;
  }
}


.active{
  background: rgba(194, 187, 187, 0.189);
  /* padding: 10px; */
  margin: 0px;
  font-size: 2rem;
}

.active .nav__item-text{
  color: rgb(15, 113, 240);

}

.active a span{
  font-size: 1.3rem;
  
}




/* homepage css */

.homepage-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-btn{
  border-radius: 0px;
  z-index: 2;
 padding: 5px 20px;
  background: rgba(0,129,157,1);
  box-shadow: none;
  text-shadow: none;
  color: #fff;
  
 
  font-style: normal;
  text-align: center;
}

a{
  text-decoration: none;
  color: #fff;
}
.background-img{
  position: relative;
  color: black;
}

.text_i{
  position: absolute;
  top: 50px;
  background: grey;
  left: 20px;
  padding: 10px 30px;

}


.text_ii{
  position: absolute;
  top: 18%;
  /* background: red; */
  left: 20px;
  width: 80%;
  transform: ease-in 2s;

}


.text_ii span p{
  font-size: 400%;
  text-transform: uppercase;
}


.text_iii{
  position: absolute;
  top: 65%;
  /* background: red; */
  left: 20px;
  width: 50%;
}


.text_iv{
  position: absolute;
  top: 85%;
  left: 20px;
}


.text-align{
  text-align: center;
  justify-content: center;
}


.total-market--contents-row{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0 0 0;
}

.total-market--contents-row-1{
  margin: 0 20px 0 0;
}


.total-market--contents-row-3{
  margin: 0 0 0 20px;
}

.total-market--contents-3--header h1{
  font-size: 2rem;
  text-transform: uppercase;
}

.ct-chart img{
  width: 100%;
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    /* display: block; */


  
  }



  .nav__main{
    width: 100%;
  }

  .ct-chart img{
    width: 100%;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    /* left: -100%; */
    top: 0;
    padding: 20px;
    background-color: var(--nav-color);
    z-index: 100;
    transition: all 0.4s ease;
    box-shadow: 12px 0 12px -6px rgba(0, 0, 0, 0.2);
    background: white;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav.active .menu {
    left: 0%;
  }
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    /* display: block; */
    margin-top: 20px;
  }


  .text_i {
    position: absolute;
    top: 14px;
    
    left: 20px;
    padding: 5px 5px;
}

.text_i p {
  color: white;
}


.text_ii span p {
  font-size: 2rem;

}
.text_ii {

  /* top: 52px; */
  width: 78%;
}


.text_iii {
  top: 159px;
  width: 80%;
}

.text_iv {
  /* top: 237px; */
}

.total-market--contents-3{
  padding: 0;
  margin: 10px 0 0 0;
  font-size: 16px;
}

.total-market--contents-3--text{
  margin: 10px;
}

.total-market--contents-3--header{
  margin: 10px;
}

.total-market--contents-row{
  margin: 20px;
  flex-direction: column;

}

.total-market--contents-row-1{
  margin: 0 0 0 0;
}

.total-market--contents-row-3{
  margin: 0 0 0 0;
}

.homepage-div {
  flex-wrap: wrap;
  text-align: center;
}

.mn{
  justify-content: center;

}

.mn img{
  margin: 20px 0 20px 0;
}

.sidebarOpen{
  margin: 0 0 0 20px;
  color: #fff;
}


i{
  color: #fff;
}

.guest_mode--content-1{
  width: 70%;
}
}


@media (min-width: 820px) {
  nav .nav-bar .sidebarOpen {
    /* display: block; */


  
  }

  .text_ii {

    top: 100px;
    width: 70%;
  }

  .text_iii{
    top: 280px;
    width: 80%;
  }


  .text_iv{
    top: 360px;
  }

  .text_ii span p {
    font-size: 3rem;
  }

}


@media (min-width: 847px) {
  nav .nav-bar .sidebarOpen {
    /* display: block; */
  }

  .text_ii{
    /* width: 70%; */
    /* top: 100px;   */
  }
  
  .text_ii span p {
    font-size: 3rem;
  }

  .text_iii{
    top: 50%; 
  }

  .text_iv{
    top: 82%;
  }



}







@media (min-width: 1064px){
  .text_iii {
      /* width: 70%; */
      top: 43%;
  }
  
  }

  @media (min-width: 500px) {

    .text_ii span p {
      font-size: 2rem;
  }

  .text_iii {
    top: 45%;
    width: 90%;
}


  
  }

  @media only screen and (max-width: 600px) {
     nav .nav-bar .sidebarOpen {
    display: block;
      color: white;
  }

  .sidebarClose{
   
    font-size: 2rem;
  }

  .sidebarOpen{
  
  }

  .menu{
    background-color: rgba(40, 40, 42, 255);
  }
  }




  /* discover page */


  .by_trend_contents{
    display: flex;
    flex-direction: column;
  }

  .by_category--2_div{
    display: flex;
  }

  .multibtBase{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    color: rgb(0, 0, 0);
    opacity: 1;
    border-width: 0px;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0px;
    height: 100px;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 100px;
    cursor: pointer;

 
    display: inline-flex;
    
    position: relative;
    align-items: flex-end;
    vertical-align: middle;
   
  }

  .multilabel_text{
    display: flex;
    flex-direction: column;
    color: rgba(32, 32, 34, 0.6);
    margin: auto;
    font-size: 12px;
    font-weight: 100;
  }

  .by_trend--1{
    margin: 20px 0 ;
    
  }

  .by_category--1{
    margin: 20px 0 ;

  }

  .by_trend--1 span{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  .by_category--1 span{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
  }





  /* profile  */

  .profile_title{
    color: white;
    margin: 10px;
  }

  .profile_upload{
    width: 80%;
    background: rgb(40, 40, 42);
    padding: 10px;
    border-radius: 10px;
  }
  

  .avatar-upload {
    position: relative;
    /* max-width: 205px; */
    margin: 50px auto;
  }

  .avatar-upload .avatar-edit {
    position: absolute;
    left: 249px;
    z-index: 1;
    top: 45px;
}

  .avatar-upload .avatar-edit input {
    display: none;
  }
  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 100%;
    /* height: 34px; */
    padding: 10px 20px;
    margin-bottom: 0;
    /* border-radius: 100%; */
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    text-align: center;
  }
  .avatar-upload .avatar-edit input + label:hover {
    background: rgba(29, 33, 233, 255);
    border-color: #d6d6d6;
    color: white;
  }
  
  .avatar-upload .avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  

  .form_group_list input{
    display: block;
    height: 35px;
    background: none;
    border: .1rem solid white;
    outline: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }

 .form_group_list label{
    color: white;
    margin: 25px 0;
  }

  .email{
    width: 100%;
  }


  .form_group_list{
    margin: 20px 0 ;
  }

  .form_group-1{
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .form_group-2 .form_group_list{
    width: 50%;
  }


  .form_group-2 .form_group_list input{
    width: 100%;
  }

  .updateBtn{
    padding: 10px 20px;
  }

  .mobile{
    display: none;
  }



  @media only screen and (max-width: 600px) {
    .avatar-upload .avatar-edit {
      position: absolute;
      left: 172px;
      z-index: 1;
      top: 45px;
  }

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }



.avatar-upload .avatar-edit input + label {
    width: 0;
    border-radius: 50%;
    height: 17px;
    padding: 7px 17px;

}
  }  






  
.container-help {
  /* width: 100%; */
  /* padding: 48px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.title {
  width: 80%;
  text-align: center;
  /* font-size: 32px; */
  color: #242829;
}

.desc {
  width: 80%;
  margin-top: 4px;
  line-height: 144%;
  text-align: center;
  font-size: 17px;
  color: #5c6263;
}

.accordion {
  /* margin-top: 32px; */
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accordion-btn {
  margin: 4px 0;
  font-family: inherit;
  width: 100%;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* font-size: 16px; */
  font-weight: 500;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  color: #ffffff;
  outline: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion-btn-icon {
  font-family: inherit;
  font-size: 17px;
  color: #242829;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.accordion-btn:hover {
  background-color: rgba(29, 33, 233, 255);
}

.accordion-btn:active {
  -webkit-transform: translatey(2px);
  -ms-transform: translatey(2px);
  transform: translatey(2px);
}

.accordion-btn-active {
  outline-color: #99c8cf;
  border-color: #99c8cf;
  background-color: #2b2c2c;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion-btn-active > .accordion-btn-icon {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.accordion-panel {
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: none;
}

.accordion-panel-data {
  font-size: 17px;
  padding: 24px;
  line-height: 170%;
  color: #ffffff;
}

/* Desktop ++ */
@media only screen and (max-width: 1440px) {
  .title {
    width: 60%;
    /* font-size: 32px; */
  }

  .desc {
    width: 60%;
    font-size: 15px;
  }

  .accordion {
    /* width: 60%; */
  }
}

/* Mobile */
@media only screen and (max-width: 610px) {
  .title {
    width: 100%;
    /* font-size: 28px; */
  }

  .desc {
    width: 100%;
    font-size: 15px;
  }

  .accordion {
    width: 100%;
  }

  .accordion-panel-data {
    font-size: 15px;
  }
}

/* Mobile -- */
@media only screen and (max-width: 375px) {
  .container {
    padding: 24px;
  }

  .accordion-btn {
    font-size: 15px;
  }

  .accordion-btn-icon {
    font-size: 15px;
  }
}




.shareUrl {
  width: 100%;
  padding: 40px 20px;
  text-align: center;
}

.shareUrl-header {
  margin-bottom: 40px;
}

.shareUrl-headerText {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
}

.shareUrl-subtext {
  margin-top: 10px;
  font-size: 14px;
}

.shareUrl-body {
  margin-bottom: 70px;
}

.shareUrl-input {
  width: 100%;
  padding: 10px 0;
  border: 2px solid rgba(0, 0, 0, 0.09);
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0);
  border-radius: 3px;
  transition: all 300ms ease;
}
.shareUrl-input:hover, .shareUrl-input:focus, .shareUrl-input:active {
  border-color: rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.1);
}

@media (min-width: 568px) {
  .shareUrl {
    padding: 70px 20px;
  }

  .shareUrl-input {
    max-width: 100%;
    font-size: 56px;
  }

  .shareUrl-headerText {
    font-size: 32px;
  }
}
.u-verticalGrid {
  display: flex;
  flex-flow: column wrap;
}

.u-flexCenter {
  display: flex;
  align-items: center !important;
}

.u-flexCenterHorizontal {
  display: flex;
  justify-content: center !important;
}



.u-size1040 {
  max-width: 1040px;
}

.u-marginAuto {
  margin: 0 auto;
}

.shareUrl-header{
  position: relative; 
  width: 100%;
  justify-content: center;
  text-align: center;
}








.modal-cont {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.47);
    top: 0;
    left: 0;
     overflow: auto;
   z-index: 999;
    
}

.modal-box{
    width: 60%;
    margin: 30px auto;
    background-color: white;
    position: relative;
    text-align: ;
    padding:20px;
}

.modal-box .close {
    position: absolute;
    right: 16px;
    top: 5px;
    font-size: 25px;
    font-weight: bolder;  
    cursor: pointer
}
.modal-box .close:hover, .modal-box .close:focus{
    color: #c6c6c6
}
.modal-box img{
    width: 30%;
    border-radius: 50%;
    display: block;
    margin:auto;
    padding: 14px;
    margin-bottom: 30px;
    min-width: 150px;
    max-width: 230px
}
input[type=text], input[type=password]{
    width: 100%;
    border: 1px solid #d0d0d0;
    display: block;
    padding: 8px;
    margin: 5px 0;
    margin-bottom: 10px;
    
}

input[type = checkbox] {
    margin-right: 2px;
    vertical-align: baseline; /*no effect for baseline*/
}


.close-forgot{
    background-color: 
}

.modal-box label, .modal-box .login-button, .modal-box input{
    width: 95%;
    display: block;
    margin: 10px auto
    
}

.modal-box .login-button{
    margin-top: 16px;
    cursor: pointer
}
input[type=checkbox]{
    display: inline-block;
    width: auto;
    margin-left: 16px
}
.modal-box .close-forgot {
    background-color: #d8d8d8;
    /* width: 100%; */
    padding: 30px 2.5%;
    display: none;
}
.modal-box .cancel{
    background-color: #c44f4f;
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    cursor: pointer
}
.modal-box span{
    float: right
}
.modal-box a{
    color: #1483be;
    font-weight: 500;
    text-decoration: underline
}


.modal-cont{display: none}
.modal-box {
    animation-name: zoom;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    box-shadow: 1px 1px 8px rgba(35, 120, 204, 0.8)
    
}
@keyframes zoom {
    from{transform: scale(0);}
    to{transform: scale(1);}
}

h1, .login {
    margin: auto;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-size: 20px;
    
}

.modal-cont{
  display: none;
}


.modal-box .login-button{
  width: 50%;
  padding: 15px 5px;
  background: ;
  color: #fff;
  outline: none;
  border: none;
}



.login-flex{
  display: flex;
  justify-content: space-around;
}


@media only screen and (max-width: 600px) {
  .modal-box{
    width: 80%;
    height: 70%;
  }

}





